.metrics-container {

  .metrics-sub-title {
    font-weight: bold;
    margin-bottom: 16px;
  }

}

.metrics-card {

  .metrics-card-title {
    font-size: 15px;
    margin-bottom: 7px;
  }

  .metrics-card-value {
    font-size: 29px;
    font-weight: bold;

    &.small {
      font-size: 21px;
    }
  }

}
