.theme-light {
    --boder-line-color: #e7e7e7;
    --primary-token-claim-text-color: #333333;
}
  
.theme-dark {
    --boder-line-color: #201923;
    --primary-token-claim-text-color: #ffffff;
}

.token-claim-column {
    flex: none;
    width: 100%;
    max-width: 900px;
    
    .token-claim-card {
        background: var(--secondary-background) !important;
        border-radius: 16px;

        .token-claim-na-container {
            padding: 2.5rem 0.75rem;
        }
    
        .token-claim-container {
            display: flex;
            flex-direction: row;
            padding: 20px;
            color: var(--primary-token-claim-text-color);
    
            @media screen and (max-width: 768px) {
                flex-direction: column;
                padding: 10px;
            }
        
            .token-claim-section {
                width: 50%;
                padding: 10px 40px;
                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 10px;
                }
            }
        
            .token-claim-detail-section {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
        
                .token-claim-info {
                    padding: 20px 20px 0 20px;
                    text-align: center;
                    @media screen and (max-width: 768px) {
                        padding: 20px;
                    }
    
                    .token-claim-info-title {
                        font-size: 26px;
                        font-weight: bold;
                    }
                }
        
                .token-claim-detail {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    
                    @media screen and (max-width: 768px) {
                        padding: 20px 0px;
                    }
    
                    .token-claim-detail-text {
                        .token-claim-detail-label {
                            color: #64586A;
                        }
                        .token-claim-detail-amount {
                            font-size: 20px;
                        }
                    }
                }
        
                .token-claim-action-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    @media screen and (max-width: 768px) {
                        padding: 20px 0px 0px;
                    }
    
                    .token-claim-btn {
                        font-size: 14px;
                    }
                    .outlined-btn {
                        background-color: transparent;
                        border-color: #22BA79;
                        color: var(--primary-text-color);
                    }
                }
        
                .token-claim-detail-contact {
                    padding: 20px 10px;
                    text-align: center;
                    p {
                        font-size: 14px;
                    }
                    .token-claim-contact-us {
                        color: #4064D0;
                    }
                }
        
                .solid {
                    border-top: 1px solid var(--boder-line-color);
                }
            }
        
            .token-claim-chart-section {
                display: flex;
                flex-direction: column;
                border-left: 1px solid var(--boder-line-color);
        
                @media screen and (max-width: 768px) {
                    border-left: none;
                    border-top: 1px solid var(--boder-line-color);
                }
        
                .token-claim-pie-chart {
                    background-color: var(--boder-line-color);
                    border-radius: 50%;
                    padding: 20px;
                }
        
                .token-claim-chart-info {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    padding: 10px;
                
                    .chart-info-section {
                        text-align: center;
        
                        .chart-label {
                            color: #9EA0A5;
                            font-size: 12px;
                        }
                        .chart-percentage {
                            font-size: 29px;
                        }
                        .claimed-percentage {
                            color: #4064D0;
                        }
                        .unlocked-percentage {
                            color: #22BA79;
                        }
                        .locked-percentage {
                            color: #64586A;
                        }
                    }
                }
            }

            .loader {
                animation: spinAround 500ms infinite linear;
                border: 2px solid #dbdbdb;
                border-radius: 290486px;
                border-right-color: transparent;
                border-top-color: transparent;
                content: "";
                display: block;
                height: 1em;
                position: relative;
                width: 1em;
                margin: auto;
            }
              
            @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
        }
    
        .data-na-container {
            color: var(--primary-token-claim-text-color);
            text-align: center;
    
            .token-clam-title {
                font-size: 30px;
                margin-top: 10px;
                font-weight: bold;
            }
            .connect-wallet-btn {
                margin-top: 20px;
                font-weight: bold;
            }
        }
    }    
}

.success-modal {
    
    .modal-body {
        background: var(--secondary-background) !important;

        .success-modal-body {
            text-align: center;
        
            p {
                color: var(--primary-text-color);
            }
            .success-text {
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .token-claim-contact-us {
                color: #4064D0;
            }
        
            .button {
                margin-top: 10px;
            }
        }
    }
}